---
interface Props {
  name: string;
  greeting?: string;
}

// Usage: <GreetingHeadline greeting="Howdy" name="Partner" />
const { greeting = "Hello", name = "Astronaut" } = Astro.props;
---
<h2>{greeting}, {name}!</h2>